body{
    overflow-x: hidden;
    overflow-y: hidden;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
.navbar{
    margin-bottom: 0;
}

/*side-nav*/
.sidebar{
    padding: 0;
    height: 87.5%;
    background: #02495D;
}
.icon{
    margin-right: 10px;
}
.nav>li>a{
    padding-left: 30px;
    padding-right: 35px;
}
a{
    color: #03A3BB;
}
.nav-pills>li>a{
    border-radius: 0;
}
#profile-tab{
    padding-left: 25px;
    padding-bottom: 10px;
    color: #FFFFFF;
}
#select-role{
    background-color: transparent;
    border: none;
}

/*search-bar*/
.search-tab{
    margin-top: 15px;
}
.search-btn>i{
    padding: 3px;
}

/*content*/
.content{
    padding: 0 10px;
}
.inner-content{
    padding: 20px;
    height: 87.5%;
}
.tab-content{
    background-color: #eaede2;
}
.display-tab{
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
}
footer{
    padding-top: 5px;
}

.count{
    margin:0 auto;
}

/*table-head*/
table{
    font-size: 12px;
}
.head{
    margin-bottom: 0;
}