body{
    background-color: #02525E;
    background-image:
            linear-gradient(
                    to bottom right,
                    #02525E, #03A3BB
            );
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 50px;
}
#form-login{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 0;
    width: 300px; !important;
    background-color: #FFFFFF;
    padding-top: 1%;
}
.login-btn{
    margin-top: 10px; !important;
}